.app {
  height: 100vh;
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

}


html body {

  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: black
}




#quote-box {
  min-height: 250px;
  height: fit-content;
  min-width: 250px;
  width: 450px;
  background-color: white;
  display: grid;
  grid-column: auto;
  align-items: center;
  text-align: center;


}


.button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

}



#twitter {
  margin-right: 5px;
}